.header {
    background-color: #edfdfd;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    overflow: scroll;
}

h1 {
    text-align: center;
    margin-top: 5px;
    font-family: 'Bakbak One', cursive;
}

h2 {
    text-align: center;
    margin-top: 100px;
}

.frase {
    text-align: center;
    margin-top: 40px;
    font-size: large;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.avisoTempo {
    color: red;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.botao-reiniciar {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.botao-reiniciar-ativo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.botao-reiniciar {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.placar {
    text-align: center;
    margin-top: 60px;
    display: none;
}